@font-face {
  font-family: "Manrope";
  font-weight: 200 800;
  src: url("/switch-management-app/fonts/Manrope-VariableFont_wght.ttf") format("truetype");
}

@font-face {
  font-family: "FiraCode";
  font-weight: 300 700;
  src: url("/switch-management-app/fonts/FiraCode-VariableFont_wght.ttf") format("truetype");
}

:root {
  /* --------------- Desktop Font Options --------------- */
  --h1-desktop: 46px;
  --h2-desktop: 22px;
  --h3-desktop: 18px;

  --p-desktop: 14px;

  --footer-desktop: 10px;

  /* ---------------------- Colors ---------------------- */
  --black: #0b0b0b;
  --white: #ebdddb;
  --gray: #3c3c3c;
  --blue: #598ade;
  --red: #eb4964;
  --green: #66ab72;
  --cyan: #2cebcf;
  --orange: #ff7c65;
  --purple: #a55eea;
  --yellow: #f5b255;
  --brown: #b0886d;
  --pink: #ff7eb6;

  --background: #101010;
  --primary: var(--white);
  --secondary: var(--gray);

  /* --------- Custom styles for specific elements --------- */
  --upload-area-hover: var(--primary)
}

/* ------------------ Common elements ------------------ */

* {
  font-family: Manrope, serif;
  font-weight: 450;
  height: 100%;
  width: 100%;

  box-sizing: border-box;
  margin: 0;
}

div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

html {
  background-color: var(--background);
  font-optical-sizing: auto;
  overflow-x: hidden;
  overscroll-behavior: none;
}

h1 {
  font-size: var(--h1-desktop);
  font-weight: 500;
}

h2 {
  font-size: var(--h2-desktop);
  font-weight: 400;
}

h3 {
  font-size: var(--h3-desktop);
  font-weight: 350;
}

p {
  font-size: var(--p-desktop);
  font-weight: 350;
}

textarea {
  font-size: var(--p-desktop);
  font-weight: 350;
}

a {

  font-weight: 400;
  text-decoration: none;
}


footer * {
  font-size: var(--footer);
  font-weight: 350;
}

i {
  font-weight: bold;
}

b {
  font-weight: 700;
}
